<style  type="text/css" >
    #T_TEST th.row_heading {
          text-align: left;
    }    #T_TEST th.col_heading {
          text-align: center;
    }    #T_TEST td {
          text-align: right;
    }    #T_TEST tr:nth-child(even) {
          background: #CCC;
    }    #T_TEST tr:nth-child(odd) {
          background: #FFF;
    }</style><table id="T_TEST" ><thead>    <tr>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >HR</th>        <th class="col_heading level0 col1" >2.5% CI</th>        <th class="col_heading level0 col2" >97.5% CI</th>        <th class="col_heading level0 col3" >P-value</th>        <th class="col_heading level0 col4" >HR (95% CI)</th>    </tr>    <tr>        <th class="index_name level0" >model</th>        <th class="index_name level1" >term</th>        <th class="index_name level2" >term_level</th>        <th class="index_name level3" >level</th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>    </tr></thead><tbody>
                <tr>
                        <th id="T_TESTlevel0_row0" class="row_heading level0 row0" >age</th>
                        <th id="T_TESTlevel1_row0" class="row_heading level1 row0" >age</th>
                        <th id="T_TESTlevel2_row0" class="row_heading level2 row0" >age</th>
                        <th id="T_TESTlevel3_row0" class="row_heading level3 row0" >nan</th>
                        <td id="T_TESTrow0_col0" class="data row0 col0" >1.02</td>
                        <td id="T_TESTrow0_col1" class="data row0 col1" >1.00</td>
                        <td id="T_TESTrow0_col2" class="data row0 col2" >1.04</td>
                        <td id="T_TESTrow0_col3" class="data row0 col3" >0.04</td>
                        <td id="T_TESTrow0_col4" class="data row0 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 19.799348 10.8 
L 20.830686 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="20.310368" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                        <th id="T_TESTlevel0_row1" class="row_heading level0 row1" >sex</th>
                        <th id="T_TESTlevel1_row1" class="row_heading level1 row1" >sex</th>
                        <th id="T_TESTlevel2_row1" class="row_heading level2 row1" >sex_2</th>
                        <th id="T_TESTlevel3_row1" class="row_heading level3 row1" >2</th>
                        <td id="T_TESTrow1_col0" class="data row1 col0" >0.59</td>
                        <td id="T_TESTrow1_col1" class="data row1 col1" >0.42</td>
                        <td id="T_TESTrow1_col2" class="data row1 col2" >0.82</td>
                        <td id="T_TESTrow1_col3" class="data row1 col3" >0.001</td>
                        <td id="T_TESTrow1_col4" class="data row1 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 3.604631 10.8 
L 14.614981 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="8.215866" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                        <th id="T_TESTlevel0_row2" class="row_heading level0 row2" rowspan=5>ph.karno</th>
                        <th id="T_TESTlevel1_row2" class="row_heading level1 row2" rowspan=5>ph.karno</th>
                        <th id="T_TESTlevel2_row2" class="row_heading level2 row2" >ph.karno_60</th>
                        <th id="T_TESTlevel3_row2" class="row_heading level3 row2" >60</th>
                        <td id="T_TESTrow2_col0" class="data row2 col0" >1.95</td>
                        <td id="T_TESTrow2_col1" class="data row2 col1" >0.70</td>
                        <td id="T_TESTrow2_col2" class="data row2 col2" >5.43</td>
                        <td id="T_TESTrow2_col3" class="data row2 col3" >0.20</td>
                        <td id="T_TESTrow2_col4" class="data row2 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 11.379698 10.8 
L 144 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="46.440291" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row3" class="row_heading level2 row3" >ph.karno_70</th>
                        <th id="T_TESTlevel3_row3" class="row_heading level3 row3" >70</th>
                        <td id="T_TESTrow3_col0" class="data row3 col0" >1.64</td>
                        <td id="T_TESTrow3_col1" class="data row3 col1" >0.63</td>
                        <td id="T_TESTrow3_col2" class="data row3 col2" >4.28</td>
                        <td id="T_TESTrow3_col3" class="data row3 col3" >0.31</td>
                        <td id="T_TESTrow3_col4" class="data row3 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 9.402707 10.8 
L 111.828124 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="37.809311" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row4" class="row_heading level2 row4" >ph.karno_80</th>
                        <th id="T_TESTlevel3_row4" class="row_heading level3 row4" >80</th>
                        <td id="T_TESTrow4_col0" class="data row4 col0" >1.27</td>
                        <td id="T_TESTrow4_col1" class="data row4 col1" >0.50</td>
                        <td id="T_TESTrow4_col2" class="data row4 col2" >3.25</td>
                        <td id="T_TESTrow4_col3" class="data row4 col3" >0.62</td>
                        <td id="T_TESTrow4_col4" class="data row4 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 5.635605 10.8 
L 82.84301 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="27.33347" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row5" class="row_heading level2 row5" >ph.karno_90</th>
                        <th id="T_TESTlevel3_row5" class="row_heading level3 row5" >90</th>
                        <td id="T_TESTrow5_col0" class="data row5 col0" >0.97</td>
                        <td id="T_TESTrow5_col1" class="data row5 col1" >0.38</td>
                        <td id="T_TESTrow5_col2" class="data row5 col2" >2.45</td>
                        <td id="T_TESTrow5_col3" class="data row5 col3" >0.94</td>
                        <td id="T_TESTrow5_col4" class="data row5 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 2.394614 10.8 
L 60.448656 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="18.809967" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row6" class="row_heading level2 row6" >ph.karno_100</th>
                        <th id="T_TESTlevel3_row6" class="row_heading level3 row6" >100</th>
                        <td id="T_TESTrow6_col0" class="data row6 col0" >0.80</td>
                        <td id="T_TESTrow6_col1" class="data row6 col1" >0.30</td>
                        <td id="T_TESTrow6_col2" class="data row6 col2" >2.18</td>
                        <td id="T_TESTrow6_col3" class="data row6 col3" >0.67</td>
                        <td id="T_TESTrow6_col4" class="data row6 col4" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 19.779973 21.6 
L 19.779973 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 0 10.8 
L 52.975048 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="14.24554" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
            </tr>
    </tbody></table>