<style  type="text/css" >
    #T_TEST th.row_heading {
          text-align: left;
    }    #T_TEST th.col_heading {
          text-align: center;
    }    #T_TEST td {
          text-align: right;
    }    #T_TEST tr:nth-child(even) {
          background: #F6F6F6;
    }    #T_TEST tr:nth-child(odd) {
          background: #FFF;
    }    #T_TEST th.col_heading {
          width: 5em;
          white-space: normal;
    }    #T_TEST th.col_heading {
          border-bottom: 2px black solid;
    }    #T_TEST th.index_name {
          border-bottom: 2px black solid;
    }    #T_TEST * {
          font-size: 6pt;
          font-family: Arial;
    }    #T_TEST *.col0, *.col8 {
          padding-left: 4px;
          border-left: 4px white solid;
    }</style><table id="T_TEST" ><thead>    <tr>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="index_name level0" ></th>        <th class="col_heading level0 col0" colspan=8>OS</th>        <th class="col_heading level0 col8" colspan=8>OS2</th>    </tr>    <tr>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="index_name level1" ></th>        <th class="col_heading level1 col0" >HR (95% CI)</th>        <th class="col_heading level1 col1" >HR</th>        <th class="col_heading level1 col2" >2.5% CI</th>        <th class="col_heading level1 col3" >97.5% CI</th>        <th class="col_heading level1 col4" >Per-term P-value</th>        <th class="col_heading level1 col5" >Per-model P-value</th>        <th class="col_heading level1 col6" >C-index</th>        <th class="col_heading level1 col7" >N</th>        <th class="col_heading level1 col8" >HR (95% CI)</th>        <th class="col_heading level1 col9" >HR</th>        <th class="col_heading level1 col10" >2.5% CI</th>        <th class="col_heading level1 col11" >97.5% CI</th>        <th class="col_heading level1 col12" >Per-term P-value</th>        <th class="col_heading level1 col13" >Per-model P-value</th>        <th class="col_heading level1 col14" >C-index</th>        <th class="col_heading level1 col15" >N</th>    </tr>    <tr>        <th class="index_name level0" >Model type</th>        <th class="index_name level1" >Term</th>        <th class="index_name level2" >Ref level</th>        <th class="index_name level3" >Level</th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>        <th class="blank" ></th>    </tr></thead><tbody>
                <tr>
                        <th id="T_TESTlevel0_row0" class="row_heading level0 row0" rowspan=9>univariate</th>
                        <th id="T_TESTlevel1_row0" class="row_heading level1 row0" >age</th>
                        <th id="T_TESTlevel2_row0" class="row_heading level2 row0" ></th>
                        <th id="T_TESTlevel3_row0" class="row_heading level3 row0" ></th>
                        <td id="T_TESTrow0_col0" class="data row0 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.537511 10.8 
L 18.311212 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.920874" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow0_col1" class="data row0 col1" >1.02</td>
                        <td id="T_TESTrow0_col2" class="data row0 col2" >1.00</td>
                        <td id="T_TESTrow0_col3" class="data row0 col3" >1.04</td>
                        <td id="T_TESTrow0_col4" class="data row0 col4" >0.04</td>
                        <td id="T_TESTrow0_col5" class="data row0 col5" >0.04</td>
                        <td id="T_TESTrow0_col6" class="data row0 col6" >0.55</td>
                        <td id="T_TESTrow0_col7" class="data row0 col7" >228</td>
                        <td id="T_TESTrow0_col8" class="data row0 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.329952 10.8 
L 18.125909 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.724205" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow0_col9" class="data row0 col9" >1.01</td>
                        <td id="T_TESTrow0_col10" class="data row0 col10" >0.99</td>
                        <td id="T_TESTrow0_col11" class="data row0 col11" >1.03</td>
                        <td id="T_TESTrow0_col12" class="data row0 col12" >0.32</td>
                        <td id="T_TESTrow0_col13" class="data row0 col13" >0.32</td>
                        <td id="T_TESTrow0_col14" class="data row0 col14" >0.51</td>
                        <td id="T_TESTrow0_col15" class="data row0 col15" >228</td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row1" class="row_heading level1 row1" rowspan=2>sex</th>
                        <th id="T_TESTlevel2_row1" class="row_heading level2 row1" ></th>
                        <th id="T_TESTlevel3_row1" class="row_heading level3 row1" ></th>
                        <td id="T_TESTrow1_col0" class="data row1 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow1_col1" class="data row1 col1" ></td>
                        <td id="T_TESTrow1_col2" class="data row1 col2" ></td>
                        <td id="T_TESTrow1_col3" class="data row1 col3" ></td>
                        <td id="T_TESTrow1_col4" class="data row1 col4" >0.001</td>
                        <td id="T_TESTrow1_col5" class="data row1 col5" >0.001</td>
                        <td id="T_TESTrow1_col6" class="data row1 col6" >0.58</td>
                        <td id="T_TESTrow1_col7" class="data row1 col7" >228</td>
                        <td id="T_TESTrow1_col8" class="data row1 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow1_col9" class="data row1 col9" ></td>
                        <td id="T_TESTrow1_col10" class="data row1 col10" ></td>
                        <td id="T_TESTrow1_col11" class="data row1 col11" ></td>
                        <td id="T_TESTrow1_col12" class="data row1 col12" >0.82</td>
                        <td id="T_TESTrow1_col13" class="data row1 col13" >0.82</td>
                        <td id="T_TESTrow1_col14" class="data row1 col14" >0.50</td>
                        <td id="T_TESTrow1_col15" class="data row1 col15" >228</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row2" class="row_heading level2 row2" >1</th>
                        <th id="T_TESTlevel3_row2" class="row_heading level3 row2" >2</th>
                        <td id="T_TESTrow2_col0" class="data row2 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 5.38837 10.8 
L 13.648242 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="8.84768" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow2_col1" class="data row2 col1" >0.59</td>
                        <td id="T_TESTrow2_col2" class="data row2 col2" >0.42</td>
                        <td id="T_TESTrow2_col3" class="data row2 col3" >0.82</td>
                        <td id="T_TESTrow2_col4" class="data row2 col4" ></td>
                        <td id="T_TESTrow2_col5" class="data row2 col5" ></td>
                        <td id="T_TESTrow2_col6" class="data row2 col6" ></td>
                        <td id="T_TESTrow2_col7" class="data row2 col7" ></td>
                        <td id="T_TESTrow2_col8" class="data row2 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 11.316848 10.8 
L 24.194253 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="16.75855" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow2_col9" class="data row2 col9" >0.96</td>
                        <td id="T_TESTrow2_col10" class="data row2 col10" >0.71</td>
                        <td id="T_TESTrow2_col11" class="data row2 col11" >1.32</td>
                        <td id="T_TESTrow2_col12" class="data row2 col12" ></td>
                        <td id="T_TESTrow2_col13" class="data row2 col13" ></td>
                        <td id="T_TESTrow2_col14" class="data row2 col14" ></td>
                        <td id="T_TESTrow2_col15" class="data row2 col15" ></td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row3" class="row_heading level1 row3" rowspan=6>ph.karno</th>
                        <th id="T_TESTlevel2_row3" class="row_heading level2 row3" ></th>
                        <th id="T_TESTlevel3_row3" class="row_heading level3 row3" ></th>
                        <td id="T_TESTrow3_col0" class="data row3 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow3_col1" class="data row3 col1" ></td>
                        <td id="T_TESTrow3_col2" class="data row3 col2" ></td>
                        <td id="T_TESTrow3_col3" class="data row3 col3" ></td>
                        <td id="T_TESTrow3_col4" class="data row3 col4" >0.04</td>
                        <td id="T_TESTrow3_col5" class="data row3 col5" >0.04</td>
                        <td id="T_TESTrow3_col6" class="data row3 col6" >0.59</td>
                        <td id="T_TESTrow3_col7" class="data row3 col7" >227</td>
                        <td id="T_TESTrow3_col8" class="data row3 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow3_col9" class="data row3 col9" ></td>
                        <td id="T_TESTrow3_col10" class="data row3 col10" ></td>
                        <td id="T_TESTrow3_col11" class="data row3 col11" ></td>
                        <td id="T_TESTrow3_col12" class="data row3 col12" >0.31</td>
                        <td id="T_TESTrow3_col13" class="data row3 col13" >0.31</td>
                        <td id="T_TESTrow3_col14" class="data row3 col14" >0.55</td>
                        <td id="T_TESTrow3_col15" class="data row3 col15" >227</td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row4" class="row_heading level2 row4" rowspan=5>50</th>
                        <th id="T_TESTlevel3_row4" class="row_heading level3 row4" >60</th>
                        <td id="T_TESTrow4_col0" class="data row4 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 11.22116 10.8 
L 110.711796 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="37.523322" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow4_col1" class="data row4 col1" >1.95</td>
                        <td id="T_TESTrow4_col2" class="data row4 col2" >0.70</td>
                        <td id="T_TESTrow4_col3" class="data row4 col3" >5.43</td>
                        <td id="T_TESTrow4_col4" class="data row4 col4" ></td>
                        <td id="T_TESTrow4_col5" class="data row4 col5" ></td>
                        <td id="T_TESTrow4_col6" class="data row4 col6" ></td>
                        <td id="T_TESTrow4_col7" class="data row4 col7" ></td>
                        <td id="T_TESTrow4_col8" class="data row4 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 1.526338 10.8 
L 42.733346 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="11.767092" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow4_col9" class="data row4 col9" >0.73</td>
                        <td id="T_TESTrow4_col10" class="data row4 col10" >0.24</td>
                        <td id="T_TESTrow4_col11" class="data row4 col11" >2.20</td>
                        <td id="T_TESTrow4_col12" class="data row4 col12" ></td>
                        <td id="T_TESTrow4_col13" class="data row4 col13" ></td>
                        <td id="T_TESTrow4_col14" class="data row4 col14" ></td>
                        <td id="T_TESTrow4_col15" class="data row4 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row5" class="row_heading level3 row5" >70</th>
                        <td id="T_TESTrow5_col0" class="data row5 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 9.738038 10.8 
L 86.576725 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="31.048433" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow5_col1" class="data row5 col1" >1.64</td>
                        <td id="T_TESTrow5_col2" class="data row5 col2" >0.63</td>
                        <td id="T_TESTrow5_col3" class="data row5 col3" >4.28</td>
                        <td id="T_TESTrow5_col4" class="data row5 col4" ></td>
                        <td id="T_TESTrow5_col5" class="data row5 col5" ></td>
                        <td id="T_TESTrow5_col6" class="data row5 col6" ></td>
                        <td id="T_TESTrow5_col7" class="data row5 col7" ></td>
                        <td id="T_TESTrow5_col8" class="data row5 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 2.036528 10.8 
L 43.165707 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="12.594769" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow5_col9" class="data row5 col9" >0.77</td>
                        <td id="T_TESTrow5_col10" class="data row5 col10" >0.26</td>
                        <td id="T_TESTrow5_col11" class="data row5 col11" >2.22</td>
                        <td id="T_TESTrow5_col12" class="data row5 col12" ></td>
                        <td id="T_TESTrow5_col13" class="data row5 col13" ></td>
                        <td id="T_TESTrow5_col14" class="data row5 col14" ></td>
                        <td id="T_TESTrow5_col15" class="data row5 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row6" class="row_heading level3 row6" >80</th>
                        <td id="T_TESTrow6_col0" class="data row6 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 6.91199 10.8 
L 64.832336 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="23.189546" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow6_col1" class="data row6 col1" >1.27</td>
                        <td id="T_TESTrow6_col2" class="data row6 col2" >0.50</td>
                        <td id="T_TESTrow6_col3" class="data row6 col3" >3.25</td>
                        <td id="T_TESTrow6_col4" class="data row6 col4" ></td>
                        <td id="T_TESTrow6_col5" class="data row6 col5" ></td>
                        <td id="T_TESTrow6_col6" class="data row6 col6" ></td>
                        <td id="T_TESTrow6_col7" class="data row6 col7" ></td>
                        <td id="T_TESTrow6_col8" class="data row6 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 0 10.8 
L 23.922995 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="6.316395" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow6_col9" class="data row6 col9" >0.47</td>
                        <td id="T_TESTrow6_col10" class="data row6 col10" >0.17</td>
                        <td id="T_TESTrow6_col11" class="data row6 col11" >1.30</td>
                        <td id="T_TESTrow6_col12" class="data row6 col12" ></td>
                        <td id="T_TESTrow6_col13" class="data row6 col13" ></td>
                        <td id="T_TESTrow6_col14" class="data row6 col14" ></td>
                        <td id="T_TESTrow6_col15" class="data row6 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row7" class="row_heading level3 row7" >90</th>
                        <td id="T_TESTrow7_col0" class="data row7 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 4.480626 10.8 
L 48.03228 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="16.795286" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow7_col1" class="data row7 col1" >0.97</td>
                        <td id="T_TESTrow7_col2" class="data row7 col2" >0.38</td>
                        <td id="T_TESTrow7_col3" class="data row7 col3" >2.45</td>
                        <td id="T_TESTrow7_col4" class="data row7 col4" ></td>
                        <td id="T_TESTrow7_col5" class="data row7 col5" ></td>
                        <td id="T_TESTrow7_col6" class="data row7 col6" ></td>
                        <td id="T_TESTrow7_col7" class="data row7 col7" ></td>
                        <td id="T_TESTrow7_col8" class="data row7 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 1.241834 10.8 
L 33.208939 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="9.712681" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow7_col9" class="data row7 col9" >0.63</td>
                        <td id="T_TESTrow7_col10" class="data row7 col10" >0.23</td>
                        <td id="T_TESTrow7_col11" class="data row7 col11" >1.74</td>
                        <td id="T_TESTrow7_col12" class="data row7 col12" ></td>
                        <td id="T_TESTrow7_col13" class="data row7 col13" ></td>
                        <td id="T_TESTrow7_col14" class="data row7 col14" ></td>
                        <td id="T_TESTrow7_col15" class="data row7 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row8" class="row_heading level3 row8" >100</th>
                        <td id="T_TESTrow8_col0" class="data row8 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 2.684206 10.8 
L 42.425642 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="13.371091" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow8_col1" class="data row8 col1" >0.80</td>
                        <td id="T_TESTrow8_col2" class="data row8 col2" >0.30</td>
                        <td id="T_TESTrow8_col3" class="data row8 col3" >2.18</td>
                        <td id="T_TESTrow8_col4" class="data row8 col4" ></td>
                        <td id="T_TESTrow8_col5" class="data row8 col5" ></td>
                        <td id="T_TESTrow8_col6" class="data row8 col6" ></td>
                        <td id="T_TESTrow8_col7" class="data row8 col7" ></td>
                        <td id="T_TESTrow8_col8" class="data row8 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 0.972143 10.8 
L 35.189051 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="9.675374" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow8_col9" class="data row8 col9" >0.63</td>
                        <td id="T_TESTrow8_col10" class="data row8 col10" >0.21</td>
                        <td id="T_TESTrow8_col11" class="data row8 col11" >1.84</td>
                        <td id="T_TESTrow8_col12" class="data row8 col12" ></td>
                        <td id="T_TESTrow8_col13" class="data row8 col13" ></td>
                        <td id="T_TESTrow8_col14" class="data row8 col14" ></td>
                        <td id="T_TESTrow8_col15" class="data row8 col15" ></td>
            </tr>
            <tr>
                        <th id="T_TESTlevel0_row9" class="row_heading level0 row9" rowspan=4>MV1</th>
                        <th id="T_TESTlevel1_row9" class="row_heading level1 row9" ></th>
                        <th id="T_TESTlevel2_row9" class="row_heading level2 row9" ></th>
                        <th id="T_TESTlevel3_row9" class="row_heading level3 row9" ></th>
                        <td id="T_TESTrow9_col0" class="data row9 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow9_col1" class="data row9 col1" ></td>
                        <td id="T_TESTrow9_col2" class="data row9 col2" ></td>
                        <td id="T_TESTrow9_col3" class="data row9 col3" ></td>
                        <td id="T_TESTrow9_col4" class="data row9 col4" ></td>
                        <td id="T_TESTrow9_col5" class="data row9 col5" >0.0009</td>
                        <td id="T_TESTrow9_col6" class="data row9 col6" >0.60</td>
                        <td id="T_TESTrow9_col7" class="data row9 col7" >228</td>
                        <td id="T_TESTrow9_col8" class="data row9 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow9_col9" class="data row9 col9" ></td>
                        <td id="T_TESTrow9_col10" class="data row9 col10" ></td>
                        <td id="T_TESTrow9_col11" class="data row9 col11" ></td>
                        <td id="T_TESTrow9_col12" class="data row9 col12" ></td>
                        <td id="T_TESTrow9_col13" class="data row9 col13" >0.60</td>
                        <td id="T_TESTrow9_col14" class="data row9 col14" >0.51</td>
                        <td id="T_TESTrow9_col15" class="data row9 col15" >228</td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row10" class="row_heading level1 row10" >age</th>
                        <th id="T_TESTlevel2_row10" class="row_heading level2 row10" ></th>
                        <th id="T_TESTlevel3_row10" class="row_heading level3 row10" ></th>
                        <td id="T_TESTrow10_col0" class="data row10 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.501257 10.8 
L 18.275684 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.884971" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow10_col1" class="data row10 col1" >1.02</td>
                        <td id="T_TESTrow10_col2" class="data row10 col2" >1.00</td>
                        <td id="T_TESTrow10_col3" class="data row10 col3" >1.04</td>
                        <td id="T_TESTrow10_col4" class="data row10 col4" >0.06</td>
                        <td id="T_TESTrow10_col5" class="data row10 col5" ></td>
                        <td id="T_TESTrow10_col6" class="data row10 col6" ></td>
                        <td id="T_TESTrow10_col7" class="data row10 col7" ></td>
                        <td id="T_TESTrow10_col8" class="data row10 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.323403 10.8 
L 18.127163 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.721484" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow10_col9" class="data row10 col9" >1.01</td>
                        <td id="T_TESTrow10_col10" class="data row10 col10" >0.99</td>
                        <td id="T_TESTrow10_col11" class="data row10 col11" >1.03</td>
                        <td id="T_TESTrow10_col12" class="data row10 col12" >0.33</td>
                        <td id="T_TESTrow10_col13" class="data row10 col13" ></td>
                        <td id="T_TESTrow10_col14" class="data row10 col14" ></td>
                        <td id="T_TESTrow10_col15" class="data row10 col15" ></td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row11" class="row_heading level1 row11" rowspan=2>sex</th>
                        <th id="T_TESTlevel2_row11" class="row_heading level2 row11" ></th>
                        <th id="T_TESTlevel3_row11" class="row_heading level3 row11" ></th>
                        <td id="T_TESTrow11_col0" class="data row11 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow11_col1" class="data row11 col1" ></td>
                        <td id="T_TESTrow11_col2" class="data row11 col2" ></td>
                        <td id="T_TESTrow11_col3" class="data row11 col3" ></td>
                        <td id="T_TESTrow11_col4" class="data row11 col4" >0.002</td>
                        <td id="T_TESTrow11_col5" class="data row11 col5" ></td>
                        <td id="T_TESTrow11_col6" class="data row11 col6" ></td>
                        <td id="T_TESTrow11_col7" class="data row11 col7" ></td>
                        <td id="T_TESTrow11_col8" class="data row11 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow11_col9" class="data row11 col9" ></td>
                        <td id="T_TESTrow11_col10" class="data row11 col10" ></td>
                        <td id="T_TESTrow11_col11" class="data row11 col11" ></td>
                        <td id="T_TESTrow11_col12" class="data row11 col12" >0.93</td>
                        <td id="T_TESTrow11_col13" class="data row11 col13" ></td>
                        <td id="T_TESTrow11_col14" class="data row11 col14" ></td>
                        <td id="T_TESTrow11_col15" class="data row11 col15" ></td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row12" class="row_heading level2 row12" >1</th>
                        <th id="T_TESTlevel3_row12" class="row_heading level3 row12" >2</th>
                        <td id="T_TESTrow12_col0" class="data row12 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 5.54368 10.8 
L 13.966489 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="9.070107" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow12_col1" class="data row12 col1" >0.60</td>
                        <td id="T_TESTrow12_col2" class="data row12 col2" >0.43</td>
                        <td id="T_TESTrow12_col3" class="data row12 col3" >0.83</td>
                        <td id="T_TESTrow12_col4" class="data row12 col4" ></td>
                        <td id="T_TESTrow12_col5" class="data row12 col5" ></td>
                        <td id="T_TESTrow12_col6" class="data row12 col6" ></td>
                        <td id="T_TESTrow12_col7" class="data row12 col7" ></td>
                        <td id="T_TESTrow12_col8" class="data row12 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 11.598908 10.8 
L 24.903673 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.210739" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow12_col9" class="data row12 col9" >0.99</td>
                        <td id="T_TESTrow12_col10" class="data row12 col10" >0.72</td>
                        <td id="T_TESTrow12_col11" class="data row12 col11" >1.35</td>
                        <td id="T_TESTrow12_col12" class="data row12 col12" ></td>
                        <td id="T_TESTrow12_col13" class="data row12 col13" ></td>
                        <td id="T_TESTrow12_col14" class="data row12 col14" ></td>
                        <td id="T_TESTrow12_col15" class="data row12 col15" ></td>
            </tr>
            <tr>
                        <th id="T_TESTlevel0_row13" class="row_heading level0 row13" rowspan=10>MV2</th>
                        <th id="T_TESTlevel1_row13" class="row_heading level1 row13" ></th>
                        <th id="T_TESTlevel2_row13" class="row_heading level2 row13" ></th>
                        <th id="T_TESTlevel3_row13" class="row_heading level3 row13" ></th>
                        <td id="T_TESTrow13_col0" class="data row13 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow13_col1" class="data row13 col1" ></td>
                        <td id="T_TESTrow13_col2" class="data row13 col2" ></td>
                        <td id="T_TESTrow13_col3" class="data row13 col3" ></td>
                        <td id="T_TESTrow13_col4" class="data row13 col4" ></td>
                        <td id="T_TESTrow13_col5" class="data row13 col5" >0.0005</td>
                        <td id="T_TESTrow13_col6" class="data row13 col6" >0.63</td>
                        <td id="T_TESTrow13_col7" class="data row13 col7" >227</td>
                        <td id="T_TESTrow13_col8" class="data row13 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow13_col9" class="data row13 col9" ></td>
                        <td id="T_TESTrow13_col10" class="data row13 col10" ></td>
                        <td id="T_TESTrow13_col11" class="data row13 col11" ></td>
                        <td id="T_TESTrow13_col12" class="data row13 col12" ></td>
                        <td id="T_TESTrow13_col13" class="data row13 col13" >0.49</td>
                        <td id="T_TESTrow13_col14" class="data row13 col14" >0.55</td>
                        <td id="T_TESTrow13_col15" class="data row13 col15" >227</td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row14" class="row_heading level1 row14" >age</th>
                        <th id="T_TESTlevel2_row14" class="row_heading level2 row14" ></th>
                        <th id="T_TESTlevel3_row14" class="row_heading level3 row14" ></th>
                        <td id="T_TESTrow14_col0" class="data row14 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.432761 10.8 
L 18.221176 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.823331" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow14_col1" class="data row14 col1" >1.01</td>
                        <td id="T_TESTrow14_col2" class="data row14 col2" >1.00</td>
                        <td id="T_TESTrow14_col3" class="data row14 col3" >1.03</td>
                        <td id="T_TESTrow14_col4" class="data row14 col4" >0.13</td>
                        <td id="T_TESTrow14_col5" class="data row14 col5" ></td>
                        <td id="T_TESTrow14_col6" class="data row14 col6" ></td>
                        <td id="T_TESTrow14_col7" class="data row14 col7" ></td>
                        <td id="T_TESTrow14_col8" class="data row14 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 17.264995 10.8 
L 18.072878 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.665088" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow14_col9" class="data row14 col9" >1.01</td>
                        <td id="T_TESTrow14_col10" class="data row14 col10" >0.99</td>
                        <td id="T_TESTrow14_col11" class="data row14 col11" >1.03</td>
                        <td id="T_TESTrow14_col12" class="data row14 col12" >0.49</td>
                        <td id="T_TESTrow14_col13" class="data row14 col13" ></td>
                        <td id="T_TESTrow14_col14" class="data row14 col14" ></td>
                        <td id="T_TESTrow14_col15" class="data row14 col15" ></td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row15" class="row_heading level1 row15" rowspan=2>sex</th>
                        <th id="T_TESTlevel2_row15" class="row_heading level2 row15" ></th>
                        <th id="T_TESTlevel3_row15" class="row_heading level3 row15" ></th>
                        <td id="T_TESTrow15_col0" class="data row15 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow15_col1" class="data row15 col1" ></td>
                        <td id="T_TESTrow15_col2" class="data row15 col2" ></td>
                        <td id="T_TESTrow15_col3" class="data row15 col3" ></td>
                        <td id="T_TESTrow15_col4" class="data row15 col4" >0.0006</td>
                        <td id="T_TESTrow15_col5" class="data row15 col5" ></td>
                        <td id="T_TESTrow15_col6" class="data row15 col6" ></td>
                        <td id="T_TESTrow15_col7" class="data row15 col7" ></td>
                        <td id="T_TESTrow15_col8" class="data row15 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow15_col9" class="data row15 col9" ></td>
                        <td id="T_TESTrow15_col10" class="data row15 col10" ></td>
                        <td id="T_TESTrow15_col11" class="data row15 col11" ></td>
                        <td id="T_TESTrow15_col12" class="data row15 col12" >0.92</td>
                        <td id="T_TESTrow15_col13" class="data row15 col13" ></td>
                        <td id="T_TESTrow15_col14" class="data row15 col14" ></td>
                        <td id="T_TESTrow15_col15" class="data row15 col15" ></td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row16" class="row_heading level2 row16" >1</th>
                        <th id="T_TESTlevel3_row16" class="row_heading level3 row16" >2</th>
                        <td id="T_TESTrow16_col0" class="data row16 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 5.006056 10.8 
L 13.05777 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="8.369543" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow16_col1" class="data row16 col1" >0.57</td>
                        <td id="T_TESTrow16_col2" class="data row16 col2" >0.41</td>
                        <td id="T_TESTrow16_col3" class="data row16 col3" >0.79</td>
                        <td id="T_TESTrow16_col4" class="data row16 col4" ></td>
                        <td id="T_TESTrow16_col5" class="data row16 col5" ></td>
                        <td id="T_TESTrow16_col6" class="data row16 col6" ></td>
                        <td id="T_TESTrow16_col7" class="data row16 col7" ></td>
                        <td id="T_TESTrow16_col8" class="data row16 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 12.012779 10.8 
L 25.918287 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="17.86431" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow16_col9" class="data row16 col9" >1.02</td>
                        <td id="T_TESTrow16_col10" class="data row16 col10" >0.74</td>
                        <td id="T_TESTrow16_col11" class="data row16 col11" >1.40</td>
                        <td id="T_TESTrow16_col12" class="data row16 col12" ></td>
                        <td id="T_TESTrow16_col13" class="data row16 col13" ></td>
                        <td id="T_TESTrow16_col14" class="data row16 col14" ></td>
                        <td id="T_TESTrow16_col15" class="data row16 col15" ></td>
            </tr>
            <tr>
                                <th id="T_TESTlevel1_row17" class="row_heading level1 row17" rowspan=6>ph.karno</th>
                        <th id="T_TESTlevel2_row17" class="row_heading level2 row17" ></th>
                        <th id="T_TESTlevel3_row17" class="row_heading level3 row17" ></th>
                        <td id="T_TESTrow17_col0" class="data row17 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow17_col1" class="data row17 col1" ></td>
                        <td id="T_TESTrow17_col2" class="data row17 col2" ></td>
                        <td id="T_TESTrow17_col3" class="data row17 col3" ></td>
                        <td id="T_TESTrow17_col4" class="data row17 col4" >0.03</td>
                        <td id="T_TESTrow17_col5" class="data row17 col5" ></td>
                        <td id="T_TESTrow17_col6" class="data row17 col6" ></td>
                        <td id="T_TESTrow17_col7" class="data row17 col7" ></td>
                        <td id="T_TESTrow17_col8" class="data row17 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow17_col9" class="data row17 col9" ></td>
                        <td id="T_TESTrow17_col10" class="data row17 col10" ></td>
                        <td id="T_TESTrow17_col11" class="data row17 col11" ></td>
                        <td id="T_TESTrow17_col12" class="data row17 col12" >0.37</td>
                        <td id="T_TESTrow17_col13" class="data row17 col13" ></td>
                        <td id="T_TESTrow17_col14" class="data row17 col14" ></td>
                        <td id="T_TESTrow17_col15" class="data row17 col15" ></td>
            </tr>
            <tr>
                                        <th id="T_TESTlevel2_row18" class="row_heading level2 row18" rowspan=5>50</th>
                        <th id="T_TESTlevel3_row18" class="row_heading level3 row18" >60</th>
                        <td id="T_TESTrow18_col0" class="data row18 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 15.118065 10.8 
L 144 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="48.923592" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow18_col1" class="data row18 col1" >2.49</td>
                        <td id="T_TESTrow18_col2" class="data row18 col2" >0.89</td>
                        <td id="T_TESTrow18_col3" class="data row18 col3" >7.01</td>
                        <td id="T_TESTrow18_col4" class="data row18 col4" ></td>
                        <td id="T_TESTrow18_col5" class="data row18 col5" ></td>
                        <td id="T_TESTrow18_col6" class="data row18 col6" ></td>
                        <td id="T_TESTrow18_col7" class="data row18 col7" ></td>
                        <td id="T_TESTrow18_col8" class="data row18 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 1.669615 10.8 
L 44.764427 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="12.319112" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow18_col9" class="data row18 col9" >0.75</td>
                        <td id="T_TESTrow18_col10" class="data row18 col10" >0.25</td>
                        <td id="T_TESTrow18_col11" class="data row18 col11" >2.29</td>
                        <td id="T_TESTrow18_col12" class="data row18 col12" ></td>
                        <td id="T_TESTrow18_col13" class="data row18 col13" ></td>
                        <td id="T_TESTrow18_col14" class="data row18 col14" ></td>
                        <td id="T_TESTrow18_col15" class="data row18 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row19" class="row_heading level3 row19" >70</th>
                        <td id="T_TESTrow19_col0" class="data row19 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 14.27087 10.8 
L 121.338414 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="43.618152" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow19_col1" class="data row19 col1" >2.24</td>
                        <td id="T_TESTrow19_col2" class="data row19 col2" >0.85</td>
                        <td id="T_TESTrow19_col3" class="data row19 col3" >5.93</td>
                        <td id="T_TESTrow19_col4" class="data row19 col4" ></td>
                        <td id="T_TESTrow19_col5" class="data row19 col5" ></td>
                        <td id="T_TESTrow19_col6" class="data row19 col6" ></td>
                        <td id="T_TESTrow19_col7" class="data row19 col7" ></td>
                        <td id="T_TESTrow19_col8" class="data row19 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 2.173126 10.8 
L 44.669486 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="13.05209" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow19_col9" class="data row19 col9" >0.79</td>
                        <td id="T_TESTrow19_col10" class="data row19 col10" >0.27</td>
                        <td id="T_TESTrow19_col11" class="data row19 col11" >2.29</td>
                        <td id="T_TESTrow19_col12" class="data row19 col12" ></td>
                        <td id="T_TESTrow19_col13" class="data row19 col13" ></td>
                        <td id="T_TESTrow19_col14" class="data row19 col14" ></td>
                        <td id="T_TESTrow19_col15" class="data row19 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row20" class="row_heading level3 row20" >80</th>
                        <td id="T_TESTrow20_col0" class="data row20 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 10.796884 10.8 
L 94.310047 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="33.91173" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow20_col1" class="data row20 col1" >1.78</td>
                        <td id="T_TESTrow20_col2" class="data row20 col2" >0.68</td>
                        <td id="T_TESTrow20_col3" class="data row20 col3" >4.65</td>
                        <td id="T_TESTrow20_col4" class="data row20 col4" ></td>
                        <td id="T_TESTrow20_col5" class="data row20 col5" ></td>
                        <td id="T_TESTrow20_col6" class="data row20 col6" ></td>
                        <td id="T_TESTrow20_col7" class="data row20 col7" ></td>
                        <td id="T_TESTrow20_col8" class="data row20 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 0.121201 10.8 
L 25.583151 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="6.782303" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow20_col9" class="data row20 col9" >0.49</td>
                        <td id="T_TESTrow20_col10" class="data row20 col10" >0.17</td>
                        <td id="T_TESTrow20_col11" class="data row20 col11" >1.38</td>
                        <td id="T_TESTrow20_col12" class="data row20 col12" ></td>
                        <td id="T_TESTrow20_col13" class="data row20 col13" ></td>
                        <td id="T_TESTrow20_col14" class="data row20 col14" ></td>
                        <td id="T_TESTrow20_col15" class="data row20 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row21" class="row_heading level3 row21" >90</th>
                        <td id="T_TESTrow21_col0" class="data row21 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 7.231494 10.8 
L 68.0786 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="24.23178" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow21_col1" class="data row21 col1" >1.32</td>
                        <td id="T_TESTrow21_col2" class="data row21 col2" >0.51</td>
                        <td id="T_TESTrow21_col3" class="data row21 col3" >3.40</td>
                        <td id="T_TESTrow21_col4" class="data row21 col4" ></td>
                        <td id="T_TESTrow21_col5" class="data row21 col5" ></td>
                        <td id="T_TESTrow21_col6" class="data row21 col6" ></td>
                        <td id="T_TESTrow21_col7" class="data row21 col7" ></td>
                        <td id="T_TESTrow21_col8" class="data row21 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 1.394665 10.8 
L 34.931173 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="10.234737" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow21_col9" class="data row21 col9" >0.65</td>
                        <td id="T_TESTrow21_col10" class="data row21 col10" >0.23</td>
                        <td id="T_TESTrow21_col11" class="data row21 col11" >1.83</td>
                        <td id="T_TESTrow21_col12" class="data row21 col12" ></td>
                        <td id="T_TESTrow21_col13" class="data row21 col13" ></td>
                        <td id="T_TESTrow21_col14" class="data row21 col14" ></td>
                        <td id="T_TESTrow21_col15" class="data row21 col15" ></td>
            </tr>
            <tr>
                                                <th id="T_TESTlevel3_row22" class="row_heading level3 row22" >100</th>
                        <td id="T_TESTrow22_col0" class="data row22 col0" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 4.628636 10.8 
L 59.393018 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="19.129718" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow22_col1" class="data row22 col1" >1.08</td>
                        <td id="T_TESTrow22_col2" class="data row22 col2" >0.39</td>
                        <td id="T_TESTrow22_col3" class="data row22 col3" >2.99</td>
                        <td id="T_TESTrow22_col4" class="data row22 col4" ></td>
                        <td id="T_TESTrow22_col5" class="data row22 col5" ></td>
                        <td id="T_TESTrow22_col6" class="data row22 col6" ></td>
                        <td id="T_TESTrow22_col7" class="data row22 col7" ></td>
                        <td id="T_TESTrow22_col8" class="data row22 col8" ><svg height="21.6pt" version="1.1" viewBox="0 0 144 21.6" width="144pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
*{stroke-linecap:butt;stroke-linejoin:round;white-space:pre;}
  </style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 21.6 
L 144 21.6 
L 144 0 
L 0 0 
z
" style="fill:none;"/>
  </g>
  <g id="axes_1">
   <g id="line2d_1">
    <path clip-path="url(#p21b39a91b9)" d="M 17.522976 21.6 
L 17.522976 0 
" style="fill:none;stroke:#808080;stroke-dasharray:1.5,2.475;stroke-dashoffset:0;stroke-width:1.5;"/>
   </g>
   <g id="line2d_2">
    <path clip-path="url(#p21b39a91b9)" d="M 1.191274 10.8 
L 38.216576 10.8 
" style="fill:none;stroke:#000000;stroke-linecap:square;stroke-width:1.5;"/>
   </g>
   <g id="line2d_3">
    <defs>
     <path d="M 0 3 
C 0.795609 3 1.55874 2.683901 2.12132 2.12132 
C 2.683901 1.55874 3 0.795609 3 0 
C 3 -0.795609 2.683901 -1.55874 2.12132 -2.12132 
C 1.55874 -2.683901 0.795609 -3 0 -3 
C -0.795609 -3 -1.55874 -2.683901 -2.12132 -2.12132 
C -2.683901 -1.55874 -3 -0.795609 -3 0 
C -3 0.795609 -2.683901 1.55874 -2.12132 2.12132 
C -1.55874 2.683901 -0.795609 3 0 3 
z
" id="mdc4601130c" style="stroke:#000000;"/>
    </defs>
    <g clip-path="url(#p21b39a91b9)">
     <use style="stroke:#000000;" x="10.511585" xlink:href="#mdc4601130c" y="10.8"/>
    </g>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p21b39a91b9">
   <rect height="21.6" width="144" x="0" y="0"/>
  </clipPath>
 </defs>
</svg>
</td>
                        <td id="T_TESTrow22_col9" class="data row22 col9" >0.67</td>
                        <td id="T_TESTrow22_col10" class="data row22 col10" >0.22</td>
                        <td id="T_TESTrow22_col11" class="data row22 col11" >1.98</td>
                        <td id="T_TESTrow22_col12" class="data row22 col12" ></td>
                        <td id="T_TESTrow22_col13" class="data row22 col13" ></td>
                        <td id="T_TESTrow22_col14" class="data row22 col14" ></td>
                        <td id="T_TESTrow22_col15" class="data row22 col15" ></td>
            </tr>
    </tbody></table>